/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header{
  height: 50px;
  background-color: #FF9A4B;
}

.big-box{
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.box{
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  background-color: #EEEEEE;
  position: relative;
}
.box:last-child{
  margin-right: 0
}
.background1{
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
  height: 150px;
}

.background2{
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
  height: 150px;
}

.background3{
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
  height: 150px;
}

span {
  position: absolute;
  background-color: #FF9A4B;
  top: 0;
  left: 0;
  color: white;
}

h3{
  padding-top: 15px;
  padding-bottom: 5px;
}

footer{
  height: 50px;
  background-color: #AAAAAA;
}